<div class="div-conteiner">
  <h3>Atividade 6 - Angular</h3>
  <p> Número de Matricula: 0050831911042</p>

  <legend>Instruções</legend>

  <p>
    Crie um projeto de aplicação web com sua identificação (nome completo e RA)
    no cabeçalho e os seguintes recursos:
  </p>

  <ul>
    <li>
      Um serviço de temporizador
    </li>

    <li>
      um componente que permita iniciar e parar o temporizador com um intervalo
      definido pelo usuário
    </li>
    <li>
      Um serviço para prover uma lista de disciplinas matriculadas, já populada
      com as disciplinas que você está cursando neste semestre
    </li>
    <li>
      Um componente que permita listar e manipular (incluir e remover) sua lista
      de disciplinas
    </li>
  </ul>

